.popup__container {
    margin: auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    width: 35%;
    max-width: 430px;
    padding: 34px 36px 37px;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
    .popup__container {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .popup__container {
        width: 70%;
    }
}

@media screen and (max-width: 540px) {
    .popup__container {
        margin: 0;
        width: calc(100% - 19px * 2);
        padding: 25px 22px;
    }
}