.add-button {
    box-sizing: border-box;
    border: 2px solid #fff;
    background: none;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    display: flex;
    cursor: pointer;
    transition: opacity 350ms ease-in-out;
    flex-shrink: 0;
}

.add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .add-button {
        width: 100%;
    }
}